Repository AzisabaNetwork/RyuZUPluginChat, pull requests merged in 2022-09, with the labels that each got.

#121 ✨ Add Async(Global|Channel|Private)MessageEvent
  src/main/java/net/azisaba/ryuzupluginchat/event/AsyncChannelMessageEvent.java
  src/main/java/net/azisaba/ryuzupluginchat/event/AsyncGlobalMessageEvent.java
  src/main/java/net/azisaba/ryuzupluginchat/event/AsyncMessageEvent.java
  src/main/java/net/azisaba/ryuzupluginchat/event/AsyncPrivateMessageEvent.java
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageProcessor.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/ChannelChatMessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/GlobalMessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/MessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/PrivateMessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/SystemMessageData.java
Labels: kind/feature

#122 :sparkles: /hideallコマンドを実装
  src/main/java/net/azisaba/ryuzupluginchat/RyuZUPluginChat.java
  src/main/java/net/azisaba/ryuzupluginchat/command/HideAllCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/listener/HideAllListener.java
  src/main/java/net/azisaba/ryuzupluginchat/listener/JoinQuitListener.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/HideAllInfoController.java
  src/main/resources/plugin.yml
Labels: kind/feature, area/chat

#120 :sparkles: 個人チャットにDisplayNameを実装
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageDataFactory.java
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageProcessor.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/PrivateMessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/MessagePublisher.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/PrivateChatReachedSubscriber.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/PrivateChatResponseWaiter.java
Labels: kind/feature, area/chat

#124 コードをキレイキレイ＆バージョンを3.1.0に更新
  pom.xml
  src/main/java/net/azisaba/ryuzupluginchat/RyuZUPluginChat.java
  src/main/java/net/azisaba/ryuzupluginchat/command/HideCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/command/HideListCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/command/RPCCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/command/UnHideCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/command/VCCommand.java
  src/main/java/net/azisaba/ryuzupluginchat/config/RPCConfig.java
  src/main/java/net/azisaba/ryuzupluginchat/discord/deliverer/DiscordMessageDeliverer.java
  src/main/java/net/azisaba/ryuzupluginchat/listener/OutdatedCommandCaptureListener.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/HideInfoController.java
Labels: kind/cleanup

#125 :sparkles: Redisのユーザー機能に対応
  src/main/java/net/azisaba/ryuzupluginchat/RyuZUPluginChat.java
  src/main/java/net/azisaba/ryuzupluginchat/config/RPCConfig.java
  src/main/resources/config.yml
Labels: kind/feature, priority/low, area/redis, area/security

#129 :bug: 個人チャットが見えなかったり重複して表示されるバグを修正
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageProcessor.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/MessageSubscriber.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/PrivateChatResponseWaiter.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/ReachedPrivateChatData.java
Labels: kind/bug, priority/high, area/redis, area/chat

#132 :bug::boom: 個人チャットが表示されないことがあるバグを修正
  src/main/java/net/azisaba/ryuzupluginchat/event/AsyncPrivateMessageNotifyEvent.java
  src/main/java/net/azisaba/ryuzupluginchat/listener/PrivateChatDebugListener.java
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageDataFactory.java
  src/main/java/net/azisaba/ryuzupluginchat/message/MessageProcessor.java
  src/main/java/net/azisaba/ryuzupluginchat/message/data/PrivateMessageData.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/MessagePublisher.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/MessageSubscriber.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/PrivateChatReachedSubscriber.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/PrivateChatResponseWaiter.java
  src/main/java/net/azisaba/ryuzupluginchat/redis/ReachedPrivateChatData.java
Labels: kind/bug, priority/high, area/redis, area/chat
